@charset "UTF-8";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  td, th {
    text-align: center;
    padding: 5px;
  }

  tr{
    border: 1px solid black;
  }
  
  thead {
    padding: 10px;
  }

tbody{
  background-color: aquamarine;
}

tbody > #content{
  background-color: blue;
  color: brown;
}
